---
title: James Willard Pierce
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
      body {
        font-size: 18px;
        font-family: Georgia, serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgb(237,238,243);
        background: linear-gradient(0deg, rgba(237,238,243,1) 0%, rgba(245,221,224,1) 100%);
        background-attachment: fixed;
        color: rgb(5,2,5);
        min-height: 100vh;
      }
      * {
        font-weight: 400;
        margin: 0;
        padding: 0;
      }
      header {
        width: 100%;
      }
      header, main {
        max-width: 60ch;
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
      #content strong,
      #content b {
        font-weight: 700;
      }
      #content p,
      #content h1,
      #content h2,
      #content h3,
      #content ul,
      #content ol,
      #content table {
        margin-bottom: 2rem;
        line-height: 1.61803;
      }

      #content pre {
        margin-bottom: 2rem;
        background-color: rgb(235,235,233);
        border: 4px solid rgb(0,0,255);
        padding: 1rem;
        overflow-x: auto;
      }

      #content code {
        background-image: linear-gradient( 109.6deg,  rgba(247,253,166,1) 11.2%, rgba(128,255,221,1) 57.8%, rgba(255,128,249,1) 85.9% );
      }
    </style>
  </head>
  <body>
    <header>
      <nav><a href="/">Home</a></nav>
    </header>
    <main id="content">
      {{ content | safe }}
    </main>
  </body>
</html>
