---
title: James Willard Pierce
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
      body {
        font-size: 16px;
        font-family: Georgia, serif;
        display: flex;
        justify-content: center;
      }
      * {
        font-weight: 400;
        margin: 0;
        padding: 0;
      }
      #content {
        max-width: 80ch;
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
      #content p,
      #content h1,
      #content h2,
      #content ul,
      #content ol {
        margin-bottom: 1rem;
      }
    </style>
  </head>
  <body>
    <div id="content">
      {{ content | safe }}
    </div>
  </body>
</html>
