---
title: James Willard Pierce
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
      body {
        font-size: 18px;
        font-family: Georgia, serif;
        display: flex;
        justify-content: center;
        background-color: rgb(254,252,254);
        color: rgb(5,2,5);
      }
      * {
        font-weight: 400;
        margin: 0;
        padding: 0;
      }
      #content {
        max-width: 60ch;
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
      #content p,
      #content h1,
      #content h2,
      #content h3,
      #content ul,
      #content ol {
        margin-bottom: 2rem;
        line-height: 1.61803;
      }

      #content pre {
        margin-bottom: 2rem;
        background-color: rgb(235,235,233);
        border: 4px solid rgb(0,0,255);
        padding: 1rem;
        overflow-x: auto;
      }
    </style>
  </head>
  <body>
    <div id="content">
      {{ content | safe }}
    </div>
  </body>
</html>
